{% extends 'base.html' %}
{% load thumbnail %}

{% block page-title %}
    EPL Survivor - Edit Pick: {{ pick.player.group.name }}: Week {{ pick.week }}
{% endblock %}

{% block extra-scripts %}
    <script>
        $(document).ready(function() {

            /* Highlight our team if we've already made a pick */
            {% if pick.team %}
                $('div#{{pick.team.id}}').addClass('highlight');
            {% endif %}

            /* When clicking on a team, update the hidden input */
            $('.team').click(function() {
                $('.team').removeClass('highlight');
                $(this).addClass('highlight');
                $('input#id_team').val($(this).attr('id'));
            });

            $('.clearpick').click(function() {
                $('.team').removeClass('highlight');
                $('input#id_team').val('');
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="subheader">
        <h2>{{ pick.player.group.name }}: Week {{ pick.week }}</h2>
    </div>

    <div class="full">

        <p>Click on a team logo to make your selection for the week.</p>

        <form action="." method="post">{% csrf_token %}

            {% if pick_form.non_field_errors %}
                <span style="color: #900;font-size:1.2em;">
                    {{ pick_form.non_field_errors }}
                </span>
            {% endif %}

            <div style="width:100%;text-align:center;">
                <div style="width:350px;margin:0 auto;">
                    <input type="submit" value="Save" class="sendm" name="save" style="float:left;" />
                    <button class="sendm clearpick" style="float:left;" onclick="return false;">Clear Current Pick</button>
                    <input type="submit" value="Cancel" class="sendm" name="cancel" style="float:left;" />
                </div>
            </div>
            <div class="clear"></div>
            <br/><br/>

            {% for match in matches %}
                <div class="match">

                    <div class="team" id="{{ match.team_one.id }}">

                        {% thumbnail match.team_one.logo "x100" format="PNG" as image %}
                            <img src="{{ image.url }}" alt="{{ match.team_one.name }}" style="margin:0 auto;" />
                        {% endthumbnail %}

                        <br />

                        {{ match.team_one.name }}

                    </div>

                    <div class="vs">
                        vs
                    </div>

                    <div class="team" id="{{ match.team_two.id }}">

                        {% thumbnail match.team_two.logo "x100" format="PNG" as image %}
                            <img src="{{ image.url }}" alt="{{ match.team_two.name }}" style="margin:0 auto;" />
                        {% endthumbnail %}
                    
                        <br/>

                        {{ match.team_two.name }}

                    </div>

                </div>

            {% endfor %}


            <div class="clear"></div>

            <div style="width:100%;text-align:center;">
                <div style="width:150px;margin:0 auto;">
                    <input type="submit" value="Save" class="sendm" name="save" style="float:left;" />
                    <button class="sendm clearpick" style="float:left;" onclick="return false;">Clear Current Pick</button>
                    <input type="submit" value="Cancel" class="sendm" name="cancel" style="float:left;" />
                </div>
            </div>
            <div class="clear"></div>

            <input type="hidden" id="id_team" name="team" value="{{ pick.team.id }}" />
            <input type="hidden" id="id_player" name="player" value="{{ pick.player.id}}" />

        </form>

    </div>

{% endblock %}