{% extends 'base.html' %}

{% block page-title %}
	EPL Survivor - Rules
{% endblock %}

{% block content %}
    <div class="subheader">
        <h2>The Rules</h2>
    </div>
    
    <div class="full">

    	<p>
    		The rules of the game are specified below. These are a guideline to how the game can be played within your group. Your group admin may specifiy other rules, or all players may decide to play the game differently.
    	</p>

    	<br/>

    	<hr/>

    	<br/>
        
        <ul class="list">

			<li>
				You are <strong>not</strong> eligible for any prize money unless you have paid the specified value to your group admin, prior to the start of the designated EPL week.
			</li>

			<li>
				Picks for the up-coming round must be made before kick-off for the first match of that week of EPL games. Picks are locked by the system. If you fail to get your pick done in time, you will lose the game.
			</li>

			<li>
				You <strong>are not</strong> able to view other people's picks for that round until the first match of that week of the EPL. Picks are hidden by the system until kick-off of the first match.
			</li>

			<li>
				You are able to make picks for all future weeks, as you see fit.
			</li>

			<li>
				You <strong>are</strong> able to edit your pick for any round up until the kick-off of the match for the designated week.
			</li>

			<li>
				Once you make a wrong pick, you are eliminated from the game.
			</li>

			<li>
				A team can only be picked once over the rounds of the group. That means, once a team is chosen, you cannot choose that team for any other round.
			</li>

			<li>
				A wrong pick is a pick where the team you have chose <strong>loses</strong> the match.
			</li>

			<li>
				It is up to you to choose a team that is playing that round. If you choose a team that has a bye that week, it will count as a wrong pick.
			</li>

			<li>
				The last remaining player is entitled to the total prize pool.
			</li>

			<li>
				If all remaining players are knocked out in the same round, the prize pool is split between the last remaining players prior to all players being knocked out.
			</li>

			<li>
				Remaining players can agree to split the prize pool, as long as <strong>all players</strong> agree, and the agreement is made before 5pm Friday (or Thursday for weeks with Thursday matches) of the following round.
			</li>

		</ul>

    </div>
{% endblock %}