{% extends "base.html" %}
{% load i18n %}

{% block page-title %}
    EPL Survivor - Confirm Password Reset
{% endblock %}

{% block content %}
    <div class="subheader">
        <h2>Reset Password Confirmation</h2>
    </div>
    
    <div class="full">

		<form method="post" action=".">{% csrf_token %} 

			<label for="id_new_password1">New Password</label><br/>
            <input id="id_new_password1" maxlength="4096" name="new_password1" type="password" class="txt" required />

            <br/><br/>

            <label for="id_new_password2">Confirm New Password</label><br/>
            <input id="id_new_password2" maxlength="4096" name="new_password2" type="password" class="txt" required />

            <br/><br/>

			<input type="submit" value="Submit" class="sendm" />

		</form>

	</div>

{% endblock %}
